@model IEnumerable<ShopTechOnline.Models.EF.Product>

@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <!-- Product 1 -->

        var strImge = "";
        var img = item.ProductImages.FirstOrDefault(x => x.IsDefault);
        if(img != null)
        {
            strImge = img.Image;
        }

        <div class="product-item men @item.ProductCategory.Alias ">

            <div class="product discount product_filter">
                <div class="product_image">
                    <img src="@strImge" alt="@item.Title">
                </div>
                <div class="favorite favorite_left"></div>
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>
                <div class="product_info">
                    <h6 class="product_name"><a href="@item.Alias">@item.Title</a></h6>
                    @if (item.PrcieSale > 0)
                    {
                        <div class="product_price">@ShopTechOnline.Models.Commons.FormatNumber(item.PrcieSale, 0)<span>@ShopTechOnline.Models.Commons.FormatNumber(item.Price, 0)</span></div>
                    }
                    else
                    {
                        <div class="product_price">@ShopTechOnline.Models.Commons.FormatNumber(item.Price, 0)<span></span></div>
                    }

                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>

        </div>
    }
}
