@model IEnumerable<ShopTechOnline.Models.ShoppingCartItem>
@using ShopTechOnline.Models

<table class="table">
    <tr class="text-center">
        <th>STT</th>
        <th width="150">Ảnh sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th width="150">Danh mục</th>
        <th>Giá</th>
        <th style="width:100px">Số lượng</th>
        <th width="150">Thành tiền</th>
        <th>Chức năng</th>
    </tr>
    @if (Model != null && Model.Any())
    {
        var i = 0;
        var tongtien = decimal.Zero;
        foreach (var item in Model)
        {
            tongtien += item.TotalPrice;
            <tr class="text-center" id="trow_@item.ProductID">
                <td>@(i+1)</td>

                <td><img src="@item.ProductImg" width="60" /></td>

                <td><a href="/chi-tiet/@item.Alias-p@(item.ProductID)">@item.ProductName</a></td>

                <td>@item.CategoryName</td>

                <td>@Commons.FormatNumber(item.Price, 0)</td>

                <td><input type="number" class="form-control" id="Quantity_@item.ProductID" value="@item.Quantity" /></td>

                <th>@Commons.FormatNumber(item.TotalPrice, 2)</th>

                <td width="200">
                    <a href="#" data-id="@item.ProductID" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                    <a href="#" data-id="@item.ProductID" class="btn btn-sm btn-success btnUpdate">Cập nhật</a>
                </td>
            </tr>
            i++;
        }
        <tr>
            <th colspan="6" class="text-right">Tổng : </th>
            <th class="text-center">@Commons.FormatNumber(tongtien, 0)</th>
            <th></th>
        </tr>
    }
    else
    {
        <tr>
            <th colspan="7">
                Không có sản phẩm trong giỏ hàng!!!
            </th>
        </tr>
    }

</table>