@model PagedList.IPagedList<ShopTechOnline.Models.EF.Order>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách đơn hàng";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/admin" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/order" class="nav-link">Danh sách đơn hàng</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách đơn hàng</h3>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                @using(Html.BeginForm("Index","Order", FormMethod.Get, new { }))
                {
                    <div class="input-group input-group-sm">
                        @Html.TextBox("searchtext", null, new { @class = "form-control" })
                        <span class="input-group-append">
                            <button type="submit" class="btn btn-info btn-flat">Tìm kiếm</button>
                        </span>
                    </div>
                }
            </div>
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Mã đơn hàng</th>
                        <th>Tên khách hàng</th>
                        <th>Số điện thoại</th>
                        <th>Tiền hàng</th>
                        <th>Trạng thái</th>
                        <th>Ngày tạo</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = ((ViewBag.Page - 1) * ViewBag.PageSize) + 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>

                                <td>@item.Code</td>

                                <td>@item.CustomerName</td>

                                <td>@item.Phone</td>

                                <td>@ShopTechOnline.Models.Commons.FormatNumber(item.TotalAmount, 0)</td>

                                <td>@(item.TypePayment == 0 ? "Chờ thanh toán" : "Đã thanh toán")</td>

                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>

                                <td>
                                    <a href="/admin/order/viewcart/@item.ID" class="btn btn-sm btn-success">Xem</a>
                                    <a href="#" class="btn btn-sm btn-danger btnCapNhat" data-id="@item.ID">Cập nhật</a>
                                </td>

                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>

            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }))
                </div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cập nhật trạng thái</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtOrderID" value="0" />
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select class="form-control" id="ddtrangthai">
                        <option value="1">
                            Đã thanh toán
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btnLuu">Lưu</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

    <!--Xử lý thanh trạng thái-->
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnCapNhat', function () {
                var id = $(this).data("id");
                $('#txtOrderID').val(id);
                $('#modal-default').modal('show');
            });

            $('body').on('click', '.btnLuu', function () {
                var id = $('#txtOrderID').val();
                var tt = $('#ddtrangthai').val();
                $.ajax({
                    url: '/admin/order/UpdateTT',
                    type: 'POST',
                    data: { id: id, trangthai: tt },
                    success: function (rs) {
                        if (rs.Success) {
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>
    }